#include <windows.h>

#include "version.h"

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

GLFW_ICON ICON ".\\visor.ico"
TRAY_ICON ICON ".\\visor.ico"

FONT_1 DATA ".\\resources\\seguisb.ttf"
FONT_2 DATA ".\\resources\\fa-solid-900.ttf"
FONT_3 DATA ".\\resources\\fa-brands-400.ttf"

LOTTIE_NOT_FOUND_CONE DATA ".\\resources\\36499-page-not-found.json"
LOTTIE_CUBES DATA ".\\resources\\59621-vrar-cubes.json"
LOTTIE_DIGITAL_COMM DATA ".\\resources\\41611-interactive-digital-assistant.json"

VS_VERSION_INFO VERSIONINFO
FILEVERSION SC_FILE_VER
PRODUCTVERSION SC_FILE_VER
FILEFLAGSMASK 0x3fL
FILEOS 0x40004L
FILETYPE 0x1L
FILESUBTYPE 0x0L

BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "Sim Coaches"
            VALUE "LegalCopyright", "Sim Coaches"
            VALUE "ProductName", SC_APP_NAME
            VALUE "ProductVersion", SC_APP_VER
            VALUE "FileVersion", SC_APP_VER
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END