#include <windows.h>

#include "version.h"

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

GLFW_ICON  ICON ".\\visor.ico"
TRAY_ICON  ICON ".\\visor.ico"

VS_VERSION_INFO VERSIONINFO
PRODUCTVERSION 6,3,9600,17298
FILEFLAGSMASK 0x3fL
FILEOS 0x40004L
FILETYPE 0x1L
FILESUBTYPE 0x0L

BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "Sim Coaches"
            VALUE "LegalCopyright", "Sim Coaches"
            VALUE "ProductName", SC_APP_NAME
            VALUE "ProductVersion", SC_APP_VER
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END