#if !defined(RC_INVOKED)
#pragma once
#endif

#define VER_COMPANY_NAME "Sim Coaches LLC"
#define VER_LEGAL_COPYRIGHT "Sim Coaches LLC (2021)"
#define VER_APP_NAME "Visor"
#define VER_APP_VER "2.0.14.900"
#define VER_FILE_VER 2,0,14,900
#define VER_APP_DESCRIPTION "The ecosystem."

#ifdef RC_INVOKED

#include <windows.h>

GLFW_ICON ICON "main.ico"
TRAY_ICON ICON "main.ico"

#include "..\\..\\libs\\font\\resources.rc"

LOTTIE_LOADING DATA "resources\\57-loading-semicircle.json"
LOTTIE_COMMUNICATING DATA "resources\\41611-interactive-digital-assistant.json"
LOTTIE_UNDER_CONSTRUCTION DATA "resources\\80248-under-construction.json"

VS_VERSION_INFO VERSIONINFO
FILEVERSION VER_FILE_VER
PRODUCTVERSION VER_FILE_VER
FILEFLAGSMASK 0x3fL
FILEOS 0x40004L
FILETYPE 0x1L
FILESUBTYPE 0x0L

BEGIN
BLOCK "StringFileInfo"
BEGIN
BLOCK "040904B0"
BEGIN
VALUE "CompanyName", VER_COMPANY_NAME
VALUE "LegalCopyright", VER_LEGAL_COPYRIGHT
VALUE "ProductName", VER_APP_NAME
VALUE "ProductVersion", VER_APP_VER
VALUE "FileVersion", VER_APP_VER
VALUE "FileDescription", VER_APP_DESCRIPTION
END
END
BLOCK "VarFileInfo"
BEGIN
VALUE "Translation", 0x409, 1200
END
END

#endif